{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static  'smakolyk/css/home.css' %}">
    <link
    type="image/png"
    rel="Shortcut Icon"
    href="{% static 'smakolyk/images/pizza.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Smakolyk</title>
    <link rel="stylesheet" href="{% static 'smakolyk/css/home.css' %}">
    <style>
      body {
        background-image: url('{% static "smakolyk/images/bg.jpg" %}');
        background-size: cover;
      }
    </style>
{% endblock %}

{% block content %}
    <nav>
        <ul>
            <li><a href="{% url 'welcome' %}"><img src="{% static 'smakolyk/images/pizza.png' %}"></a>
                <a style="color:rgb(127, 24, 24);" href="{% url 'welcome' %}"><h1>SMAKOLYK</h1></a></li>
        </ul>
        <ul>
            {% if user.is_authenticated %}
                <li><a style="color:red;" href="#">ORDER</a></li>
                {% if has_order %}
                    <li><a style="color:red;" href="#">HISTORY</a></li>
                {% endif %}
                <li><a style="color:red;" href="{% url 'profile' %}">PROFILE</a></li>
            {% endif %}
        </ul>
        <ul>
            {% if user.is_authenticated %}
            <li class="login"><a href="{% url 'logout' %}">LOG OUT</a></li>
            {% else %}
            <li class="login"><a href="{% url 'login' %}">LOG IN</a></li>
            <li class="signup"><a href="{% url 'signup' %}">SIGN UP</a></li>
            {% endif %}
        </ul>
    </nav>
      <div class="main">
        <h1>Menu</h1>
        <div class="title">
            <h2>First course</h2>
        </div>
        <div class="carousel">
          <div class="carousel-inner">
            <div class="carousel-row">
              <div class="carousel-item">
                <img src="{% static 'smakolyk/images/bg.jpg' %}" alt="Image 1">
                <div class="name">Test</div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'smakolyk/images/bg.jpg' %}" alt="Image 2">
                <div class="name">Test</div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'smakolyk/images/bg.jpg' %}" alt="Image 3">
                <div class="name">Test</div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'smakolyk/images/bg.jpg' %}" alt="Image 1">
                <div class="name">Test</div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'smakolyk/images/bg.jpg' %}" alt="Image 2">
                <div class="name">Test</div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'smakolyk/images/bg.jpg' %}" alt="Image 3">
                <div class="name">Test</div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'smakolyk/images/bg.jpg' %}" alt="Image 1">
                <div class="name">Test</div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'smakolyk/images/bg.jpg' %}" alt="Image 2">
                <div class="name">Test</div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'smakolyk/images/bg.jpg' %}" alt="Image 3">
                <div class="name">Test</div>
              </div>
            </div>
          </div>
          <a class="carousel-control prev" href="#">&#10094;</a>
          <a class="carousel-control next" href="#">&#10095;</a>
        </div>
    </div><br>
    <div class="main">
        <div class="title">
            <h2>Second course</h2>
        </div>
       <div class="carousel">
          <div class="carousel-inner">
            <div class="carousel-row">
              <div class="carousel-item">
                <img src="{% static 'smakolyk/images/bg.jpg' %}" alt="Image 1">
                <div class="name">Test</div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'smakolyk/images/bg.jpg' %}" alt="Image 2">
                <div class="name">Test</div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'smakolyk/images/bg.jpg' %}" alt="Image 3">
                <div class="name">Test</div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'smakolyk/images/bg.jpg' %}" alt="Image 1">
                <div class="name">Test</div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'smakolyk/images/bg.jpg' %}" alt="Image 2">
                <div class="name">Test</div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'smakolyk/images/bg.jpg' %}" alt="Image 3">
                <div class="name">Test</div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'smakolyk/images/bg.jpg' %}" alt="Image 1">
                <div class="name">Test</div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'smakolyk/images/bg.jpg' %}" alt="Image 2">
                <div class="name">Test</div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'smakolyk/images/bg.jpg' %}" alt="Image 3">
                <div class="name">Test</div>
              </div>
            </div>
          </div>
          <a class="carousel-control prev" href="#">&#10094;</a>
          <a class="carousel-control next" href="#">&#10095;</a>
        </div>
    </div><br>
    <div class="main">
        <div class="title">
            <h2>Desert</h2>
        </div>
        <div class="carousel">
          <div class="carousel-inner">
            <div class="carousel-row">
              <div class="carousel-item">
                <img src="{% static 'smakolyk/images/bg.jpg' %}" alt="Image 1">
                <div class="name">Test</div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'smakolyk/images/bg.jpg' %}" alt="Image 2">
                <div class="name">Test</div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'smakolyk/images/bg.jpg' %}" alt="Image 3">
                <div class="name">Test</div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'smakolyk/images/bg.jpg' %}" alt="Image 1">
                <div class="name">Test</div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'smakolyk/images/bg.jpg' %}" alt="Image 2">
                <div class="name">Test</div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'smakolyk/images/bg.jpg' %}" alt="Image 3">
                <div class="name">Test</div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'smakolyk/images/bg.jpg' %}" alt="Image 1">
                <div class="name">Test</div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'smakolyk/images/bg.jpg' %}" alt="Image 2">
                <div class="name">Test</div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'smakolyk/images/bg.jpg' %}" alt="Image 3">
                <div class="name">Test</div>
              </div>
            </div>
          </div>
          <a class="carousel-control prev" href="#">&#10094;</a>
          <a class="carousel-control next" href="#">&#10095;</a>
        </div><br>
    <div class="main">
        <div class="title">
            <h2>Drinks</h2>
        </div>
        <div class="carousel">
          <div class="carousel-inner">
            <div class="carousel-row">
              <div class="carousel-item">
                <img src="{% static 'smakolyk/images/bg.jpg' %}" alt="Image 1">
                <div class="name">Test</div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'smakolyk/images/bg.jpg' %}" alt="Image 2">
                <div class="name">Test</div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'smakolyk/images/bg.jpg' %}" alt="Image 3">
                <div class="name">Test</div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'smakolyk/images/bg.jpg' %}" alt="Image 1">
                <div class="name">Test</div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'smakolyk/images/bg.jpg' %}" alt="Image 2">
                <div class="name">Test</div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'smakolyk/images/bg.jpg' %}" alt="Image 3">
                <div class="name">Test</div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'smakolyk/images/bg.jpg' %}" alt="Image 1">
                <div class="name">Test</div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'smakolyk/images/bg.jpg' %}" alt="Image 2">
                <div class="name">Test</div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'smakolyk/images/bg.jpg' %}" alt="Image 3">
                <div class="name">Test</div>
              </div>
            </div>
          </div>
          <a class="carousel-control prev" href="#">&#10094;</a>
          <a class="carousel-control next" href="#">&#10095;</a>
        </div>
    </div>
    <script>
const carousels = document.querySelectorAll('.carousel');

carousels.forEach((carousel) => {
  const carouselInner = carousel.querySelector('.carousel-inner');
  const carouselRow = carouselInner.querySelector('.carousel-row');
  const carouselItems = carouselRow.querySelectorAll('.carousel-item');
  const prevBtn = carousel.querySelector('.prev');
  const nextBtn = carousel.querySelector('.next');

  let currentItem = 0;
  const carouselWidth = carousel.offsetWidth;
  const itemWidth = carouselWidth / 3;
  const maxItems = Math.floor(carouselRow.offsetWidth / itemWidth);

  function showItem(index) {
    carouselInner.style.transform = `translateX(-${index * itemWidth}px)`;
  }

  prevBtn.addEventListener('click', (event) => {
    event.preventDefault();
    if (currentItem > 0) {
      currentItem--;
      showItem(currentItem);
    }
  });

  nextBtn.addEventListener('click', (event) => {
    event.preventDefault();
    if (currentItem < carouselItems.length - maxItems) {
      currentItem++;
      showItem(currentItem);
    }
  });

  showItem(currentItem);
});

const navItems = document.querySelector('.navItems');

function onToggle(e) {
  e.name = e.name === 'menu' ? 'close' : 'menu';
  if (e.name == 'close') {
    navItems.classList.remove('hidden'), navItems.classList.add('flex');
  } else {
    navItems.classList.add('hidden');
  }
}
    </script>
{% endblock %}
