{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
    <link
    type="image/png"
    rel="Shortcut Icon"
    href="{% static 'images/pizza.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Smakolyk</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <style>
      body {
        background-image: url('{% static 'images/bg.jpg' %}');
        background-size: cover;
      }
    </style>
{% endblock %}

{% block content %}
    <nav>
        <ul>
            <li><a href="{% url 'smakolyk:welcome' %}"><img src="{% static 'images/pizza.png' %}"></a>
                <a style="color:rgb(127, 24, 24);" href="{% url 'smakolyk:welcome' %}"><h1>SMAKOLYK</h1></a></li>
        </ul>
        <ul>
            {% if user.is_authenticated %}
                <li><a style="color:red;" href="{% url 'smakolyk:order' %}">ORDER</a></li>
                {% if has_order %}
                    <li><a style="color:red;" href="{% url 'smakolyk:history' %}">HISTORY</a></li>
                {% endif %}
                <li><a style="color:red;" href="{% url 'profile' %}">PROFILE</a></li>
            {% endif %}
        </ul>
        <ul>
            {% if user.is_authenticated %}
                <li class="login"><a href="{% url 'logout' %}">LOG OUT</a></li>
            {% else %}
                <li class="login"><a href="{% url 'login' %}">LOG IN</a></li>
                <li class="signup"><a href="{% url 'signup' %}">SIGN UP</a></li>
            {% endif %}
        </ul>
    </nav>
      <div class="main">
        <h1>Menu</h1>
        <div class="first-course">
            <div class="title">
                <h2>First courses</h2>
            </div>
          <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for chunk in menu.first_course %}
                    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                        <div class="row">
                            {% for item in chunk %}
                                <div class="col-4">
                                    <div class="menu-item">{{ item }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="second-course">
            <div class="title">
                <h2>Second courses</h2>
            </div>
          <div id="carouselExample2" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              {% for chunk in menu.second_course %}
                    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                        <div class="row">
                            {% for item in chunk %}
                                <div class="col-4">
                                    <div class="menu-item">{{ item }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
              {% endfor %}
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample2" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample2" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
          <div class="dessert">
            <div class="title">
                <h2>Desserts</h2>
            </div>
          <div id="carouselExample3" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              {% for chunk in menu.dessert %}
                    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                        <div class="row">
                            {% for item in chunk %}
                                <div class="col-4">
                                    <div class="menu-item">{{ item }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
              {% endfor %}
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample3" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample3" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="drink">
            <div class="title">
                <h2>Drinks</h2>
            </div>
          <div id="carouselExample4" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              {% for chunk in menu.drink %}
                    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                        <div class="row">
                            {% for item in chunk %}
                                <div class="col-4">
                                    <div class="menu-item">{{ item }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
              {% endfor %}
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample4" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample4" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
