@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Edu+NSW+ACT+Foundation:wght@500&family=Josefin+Sans:wght@200&family=Roboto&family=Ubuntu:ital,wght@1,500&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(238, 64, 64);
}

.container{
    background-color: white;
    width: 400px;
    height: 400px;
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.circle{
    position: absolute;
    background-color: rgb(211, 11, 11);
    width: 150px;
    height: 150px;
    border-radius: 100%;
    top: -70px;
    left: 32%;
}

.circle i{
    position: absolute;
    font-size: 120px;
    left: 30px;
    top: 15px;
    color: white;
}

.thx{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
    font-size: 40px;
}

.details{
    position: absolute;
    top: 55%;
    text-align: center;
    left: 50%;
    width: 300px;
    transform: translate(-50%,-50%);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.oke{
    position: absolute;
    bottom: 30px;
    width: 90%;
    margin: auto;
    left: 10px;
    right: 10px;
    height: 50px;
    background-color: rgb(211, 11, 11);
    font-size: 30px;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
}